body{
    font-family: Helvetica;
    font-size:larger;
    background-color: rgba(0, 0, 0, 0.941);
    color: aliceblue;
}

header{
   background-color: #000dff;
}

.nav-itens{
   list-style: none;
}

a{
   color: aliceblue;
   text-decoration: none
}
.navbar{
   min-height: 70px;
   display: flex;
}

 .logo{
   font-size: 3rem;
   font-weight: bold;
   width: 700px;
   transition: 0.8s ease;
   }
 .logo:hover{
  color: red;
 }

 .nav-menu{
   display: flex;
   align-items: center;
   gap: 60px;
 }

 .nav-link{
   transition: 0.5s ease;
 }
 
 .nav-link:hover{
   color: red;
 }

 .direita{
   display: none;
   cursor: pointer;
 }

 .bar{
   display: block;
   width: 28px;
   height: 3px;
   border-radius: 2px;
   margin: 5px auto;
   background-color: aliceblue;
   transition: all 0.3s ease-in-out;
 }

 .calendario{
  width: 600px;
  height: 300px;
  align-items: center;
  justify-content: space-between;
  padding: 0 34px;
}
  
 .leves{
  background-color: red;
  border-radius: 15px;
  border-style: double;
  transition: 0.7s;
  padding: 9px;
  font-size: medium;
  display: flexbox;
}

.leves:hover{
  background-color: rgba(255, 0, 0, 0.36);
  font-size: small;
}


 .noticias{
  background-color: rgba(172, 255, 47, 0.793);
  border-radius: 15px;
  border-style: double;
  transition: 0.7s;
  padding: 9px;
  font-size: medium;
  display: flexbox;
}
.noticias:hover{
  background-color: rgba(172, 255, 47, 0.271);
font-size: small;
}

.jogos{
  width: 600px;
  height: 300px;
  align-items: center;
  justify-content: space-between;
  padding: 0 34px;
}

.anuncio{
  text-align: center;
  font-family: sans-serif;
  background-color:  rgba(255, 255, 255, 0.298);
  height: 124px;
}

.rodape{
  background-color: rgba(255, 255, 255, 0.298);
}
.rod-menu{
  display: flex;
  align-items: normal;
  gap: 60px;
}
@media (max-width:768px){
  .direita{
   display: none;
  }
}
 .noticiasimg{
  width: 450px;
  height: 270px;
  padding: 10px;
}
.centro{
  text-align: center;
  text-decoration: underline;
  color: aqua;
}

.ana{
  width: 350px;
  height: 340px;
}

.inicio{
  background-color: red;
  border-radius: 15px;
  border-style: double;
  transition: 0.7s;
  padding: 9px;
  font-size: medium;
  display: flexbox;
}
.inicio:hover{
background-color: rgba(255, 0, 0, 0.36);
font-size: small;
}
.centrorod{
  text-align: center;
  padding-left: 10px;
}